<!-- Declare model voor view -->
@model MvcOwn.Models.Contact 

<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    Welkom @Model.FirstName @Model.LastName.<br />
    Your id is @Model.ID.
</body>
</html>